{% extends 'base.html' %} 

{% block content %}

<h1 class="center-align">Mushroom Details</h1>

<div class="row">
    <div class="col s12 m6 offset-m3">
        <div class="card fungi-detail-card">
            <!-- Show the mushroom image -->
            {% if fungi.photo %}
            <div class="card-image fungi-card-image">
                <img class="responsive-img fungi-img-detail" src="{{ fungi.photo.url }}" alt="{{ fungi.name }}">
                <span class="card-title">{{ fungi.name }}</span>
            </div>
            {% else %}
            <div class="card-content">
                <span class="card-title">{{ fungi.name }}</span>
            </div>
            {% endif %}
            <div class="card-content">
                <p><strong>Description:</strong> {{ fungi.description }}</p>
                <p><strong>Preferred Environment:</strong> {{ fungi.preferred_environment }}</p>
                <p><strong>Edibility:</strong> {% if fungi.edibility %}Edible{% else %}Not Edible{% endif %}</p>
                <p><strong>Date Collected:</strong> {{ fungi.date_collected|date:"F d, Y" }}</p>
                <p><strong>Status:</strong> {% if fungi.identified %}Identified{% else %}Unidentified{% endif %}</p>
            </div>
            <div class="card-action">
                <a href="{% url 'fungi_update' fungi.id %}"class="btn gradient-btn">Edit</a>
                <a href="{% url 'fungi_delete' fungi.id %}"class="btn gradient-btn">Delete</a>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col s12 m6 offset-m3">
        <ul class="collection">
            {% for comment in fungi.comment_set.all %}
            <li class="collection-item">
                <strong>{{ comment.user.username }}:</strong> {{ comment.content }}
                <br>
                <a href="{% url 'comment_update' fungi_id=fungi.id pk=comment.id %}" class="btn gradient-btn">Edit</a>
                <a href="{% url 'comment_delete' fungi_id=fungi.id pk=comment.id %}" class="btn gradient-btn">Delete</a>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>

<div class="row">
    <div class="col s12 m6 offset-m3">
        <form method="post" action="{% url 'comment_create' fungi.id %}">
            {% csrf_token %} 
            {{ form.as_p }}
            <div class="center-btn">
                <button class="btn gradient-btn" type="submit">Create Comment</button>
            </div>
        </form>
    </div>
</div>

{% endblock %}
