{% extends 'base.html' %}

{% block content %}

<h1>Mushroom Collection</h1>

{% for fungi in fungi_list %}
<div class="row">
    <div class="col s12 m6 l4">
    <div class="card">
        <div class="card-image fungi-card-image"> <!-- New class added for styling -->
            {% if fungi.photo %}
            <img class="responsive-img fungi-img" src="{{ fungi.photo.url }}" alt="{{ fungi.name }}"> <!-- New class added for styling -->
            {% endif %}
            <span class="card-title">{{ fungi.name }}</span>
        </div>
        <div class="card-content">
        <p>{{ fungi.date_collected }}</p>
        </div>
        <div class="card-action">
        <a href="{% url 'fungi_detail' fungi.id %}">View details</a>
        </div>
    </div>
    </div>
</div>
{% endfor %}

{% endblock %}
