{% extends 'base.html' %}

{% block content %}

<style>
    .gradient-btn, .gradient-link {
        background: linear-gradient(to right, rgba(0, 0, 0, 0.9), rgba(128, 128, 128, 0.1));
        color: white;
        padding: 10px 15px;
        border-radius: 4px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        transition: 0.3s;
    }

    .gradient-link:hover {
        background: linear-gradient(to right, rgba(0, 0, 0, 1), rgba(64, 64, 64, 0.2));
    }

    .card-action {
        text-align: center;
    }

    h1 {
        font-family: 'Poppins', sans-serif;
        font-weight: 500;
        font-size: 2.5em;
        margin-top: 30px;
        margin-bottom: 30px;
    }
    .profile-image {
        width: 150px;
        height: 150px;
        border-radius: 50%;
        margin-bottom: 20px;
    }

</style>
<h1>{{ user_profile.user.username }}'s Profile</h1>

<div class="row">
    <div class="col s12 m6 l6">
        <div class="card">
            <div class="card-content">
                <!-- Display profile photo if exists -->
                {% if user_profile.photo %}
                    <img src="{{ user_profile.photo.url }}" alt="{{ user_profile.user.username }}'s profile photo" class="profile-image">
                {% endif %}
                
                <p><strong>Location:</strong> {{ user_profile.location }}</p>
                <!-- Add more fields from UserProfile here as needed -->
            </div>
            <!-- Editing Section -->
            {% if request.user == user_profile.user %}
                <div class="card-action">
                    <form method="post">
                        {% csrf_token %}
                        <!-- Render profile form fields here -->
                        {{ profile_form.as_p }}
                        <input type="submit" value="Update Profile" class="gradient-btn">
                    </form>
                </div>
            {% endif %}
        </div>
    </div>
</div>

{% endblock %}